<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<!-- 
<script>
    let manuList = {{ manu_list }};
    console.log(manuList)
</script>
//-->
<body>
    {% for manu in manu_list %}
        <h1>{{ manu.title }}</h1>
        <span>{{ manu.time }}</h1>
        <p>{{ manu.content }}</p>
    {% endfor %}
</body>
</html>

